name: pkgcheck
on:
  push:
    paths:
    - '**.ebuild'
    - '**.xml'
    - '**Manifest'
    - '!sys-kernel/linux-image/**'
  pull_request:
    paths:
    - '**.ebuild'
    - '**.xml'
    - '**Manifest'
    - '!sys-kernel/linux-image/**'

jobs:
  pkgcheck:
    if: github.repository == 'PF4Public/gentoo-overlay'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v47

      - name: Prepare cache dir
        id: prepare
        run: |
          echo "workspace=${GITHUB_WORKSPACE}" >> $GITHUB_OUTPUT
          mkdir -p "${GITHUB_WORKSPACE}/distfiles"

      - name: Calculate the hash of changed files
        id: hash
        run: |
          echo "digest=$( echo "${{ steps.changed-files.outputs.all_changed_files }}" | md5sum | cut -f 1 -d ' ' )" >> $GITHUB_OUTPUT
          echo "modified=$( echo "${{ steps.changed-files.outputs.all_changed_files }}" | tr '\n' ' ' )" >> $GITHUB_OUTPUT

      - name: Run pkgcheck
        uses: pf4public/gentoo-docker-action@master
        with:
            modified: ${{ steps.hash.outputs.modified }}
            tool: pkgcheck
            action: scan
            params: -v --exit error